<footer class="grid-container">
  <div class="location grid-item">
    <h3>Ubicación</h3>
    <p>Avenida Andrómeda, 2000. Bloco 6 e 8</p>
    <p>Alphavile SP</p>
    <p>brasil@test.ag</p>
    <p>+55 11 3090 1039</p>
  </div>
  <div class="contact grid-item">
    <button pButton type="button" label="CONTÁCTANOS" icon="pi pi-map-marker"></button>
    <button pButton type="button" label="HABLA CON UN CONSULTOR" icon="pi pi-phone"></button>
  </div>
  <div class="powerby grid-item">
    <p>Desarrollado por corporation</p>
    <p>Powered by corp</p>
  </div>
</footer>
