<div class="flex-container">
  <span class="p-input-icon-left">
    <h1>COREBIZ</h1>
  </span>
  <span class="p-input-icon-right width">
    <i class="pi pi-search"></i>
    <input
      type="text"
      class="search-field"
      pInputText
      [placeholder]="search"
    />
  </span>
  <span class="">
    <i class="pi pi-user"></i>
    Mi Cuenta
  </span>
  <span class="p-input-icon-right">
    <button pButton pRipple type="button" icon="pi pi-shopping-cart" class="p-button-text"></button>
    <p-badge [value]="count" severity="danger" styleClass="p-mr-2"></p-badge>
  </span>
</div>
