<p-carousel
  [value]="products"
  [numVisible]="4"
  [numScroll]="3"
  [circular]="false"
  [responsiveOptions]="responsiveOptions"
>
  <ng-template pTemplate="header">
    <h2 id="more-sold">Más Vendidos</h2>
  </ng-template>
  <ng-template let-product pTemplate="item">
    <div class="product-item">
      <div class="product-item-content">
        <div class="p-mb-3">
          <img
            [src]="product.imageUrl"
            [alt]="product.productName"
            class="product-image"
          />
        </div>
        <div id="car-content">
          <h4 class="p-mb-1">{{ product.productName }}</h4>
          <div class="car-buttons p-mt-5">
            <p-rating
              class="red"
              [ngModel]="product.stars"
              [cancel]="false"
              [iconOnStyle]="{ color: '#ff0000' }"
            ></p-rating>
            <h6 class="p-mt-0 p-mb-3">de ${{ product.listPrice }}</h6>
            <h6 class="p-mt-0 p-mb-3 price">por ${{ product.price }}</h6>
            <ng-template [ngIf]="product.installments.length > 0">
              <h6 class="p-mt-0 p-mb-3">
                O en ${{ product.installments[0].quantity }} de
                {{ product.installments[0].value }}
              </h6>
            </ng-template>
          </div>
          <p-button
            type="button"
            class="btn"
            styleClass="p-button-help"
            (click)="sendInfo()"
            >COMPRAR</p-button
          >
        </div>
      </div>
    </div>
  </ng-template>
</p-carousel>
